* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color:#778899; */
    background-image: url(./img/body.jpg);
    background-size: cover;
}

.card {
    display: block;
    margin: 80px auto;
    padding: 20px;
    width: 350px;
    height: 485px;
    background-color: #808080;
    border-radius: 18px;
    border: 1px solid rgb(90,90,90);
    -webkit-box-shadow: inset 0px 0px 5px 4px rgba(55,55,55,55.75),0px 10px 15px 3px rgba(55,55,55,55.75);
    -moz-box-shadow: inset 0px 0px 5px 4px rgba(55,55,55,55.75),0px 10px 15px 3px rgba(55,55,55,55.75);
    box-shadow: inset 0px 0px 5px 4px rgba(55,55,55,55.75),0px 10px 15px 3px rgba(55,55,55,55.75);
}

.screen{
    border: 2px solid #606060;
    background-color: #6e6e6e;
    border-radius: 8px;
    margin-bottom: 20px;
}

.calc-screen {
    width: 275px;
    height: 55px;
    font-size: 42px;
    text-align: end;
    color: #000;
    font-family: 'Nova Square', cursive;
    background-color: #fff;
    display: flex;
    margin: 25px auto 35px;
    padding: 3px 8px;
    border-radius: 8px;
    border: 1px solid #333333;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(55, 55, 55, 0.75);
    -moz-box-shadow: 0px 0px 2px 2px rgba(55, 55, 55, 55 0.75);
    box-shadow: 0px 0px 2px 2px rgba(55, 55, 55, 55 0.75);
}

.buttons {
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
    border: 2px solid #808080;
    -webkit-box-shadow: 0px 0px 4px 4px rgba(175, 175, 175, 0.75);
    -moz-box-shadow: 0px 0px 4px 4px rgba(175, 175, 175, 0.75);
    box-shadow: 0px 0px 4px 4px rgba(175, 175, 175, 0.75);
}

button {
    color: #000;
    font-size: 32px;
    font-weight: 900;
    padding: 7px;
    border-radius: 5px;
    border: 1.2px solid #000;
    -webkit-box-shadow: 0px 0px 1.2px 1.2px rgba( 9, 9, 9, 0.75);
    -moz-box-shadow: 0px 0px 1.2px 1.2px rgba( 9, 9, 9, 0.75);
    box-shadow: 0px 0px 1.2px 1.2px rgba( 9, 9, 9, 0.75);
}

button:hover {
    background-color: #9f9f9f;
}

.top-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 15px;
}

#clear {
    background-color: #f43c3c;
    border-color: #ff0000;
    -webkit-box-shadow: 0px 0px 1.2px 1.2px rgba( 9, 9, 9, 0.75);
    -moz-box-shadow: 0px 0px 1.2px 1.2px rgba( 9, 9, 9, 0.75);
    box-shadow: 0px 0px 1.2px 1.2px rgba( 9, 9, 9, 0.75);
}

#clear:hover {
    background-color: #ff0000;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.function-btns {
    display: grid;
    grid-template-columns: 1fr;
}

.footer {
    font-size: 12px;
    text-align: center;
    color: #c8c8c8;
}

.disclaimer {
    display: block;
    max-width: 450px;
    justify-content: center;
}